body {
	font-family: 'MS UI Gothic';
	color: #112915;
	background: #e0e5bc;
    background-image: url(assets/images/bleblebleble.png);
    width: 1000px;
    display: block;
    margin: auto;
}

#container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#header {
    height: 50px;
    padding: 20px 0px 20px 0px;
    background-color: #D86C75;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
}

#header > img {
    display: block;
    margin: auto;
}

.navigationBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
    background-color: #447C6D;
    margin-bottom: 20px;
}


.navButton {
    background-color: #447C6D;
    border: 0px;
    padding: 10px;
    border-left: 1px solid #D86C75;
    border-right: 1px solid #D86C75;
    margin-left: -1px;
    max-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial';
    font-size: 14px;
    color: #EFFF74;
    font-weight: bold;
    z-index: 1;
}

.navButton:hover {
    background-color: #EFFF74;
    color: #447C6D;
    border-top: 3px solid #EFFF74;
    border-bottom: 3px solid #EFFF74;
    margin: -6px 0px 0px 0px;
    z-index: 20;
}

#content {
    background-color: #447C6D;
    color: #18401f;
    margin-top: -1px;
    font-weight: bold;
    padding: 20px;
}

h2 {
    background-color: #efff74;
    color: #447C6D;
    padding: 10px 12px 10px 10px;
    margin-bottom: 0;
    display: inline-block;
}


#content > .textBlock {
    display: inline-block;
    color: #ffffe3;
    width: 100%;
}


#drawbook-box {
    display: inline-block;
    margin-left: auto;
    margin-top: -11px;
}

#drawbook-frame {
    height: 660px;
    width: 620px;
}

#footer {
    height: 16px;
    background-color: #447C6D;
    color: #ffffe3;
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

a {
    color: #EFFF74;
}

.outlink::after {
    padding-left: 3px;
    image-rendering: pixelated;
    content: url(assets/images/outlink.png);
}

a:hover+span {
    bottom: 0;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 20px;
    padding-bottom: 8px;
}

a+span {
    background: #D86C75;
    color: white;
    text-align: center;
    padding: 0.25em;
    position: absolute;
    font-size: 0;
}






