body {
	font-family: 'MS UI Gothic';
	color: #112915;
	background: #a0b85d;
    max-width: 1000px;
    min-width: 700px;
    display: block;
    margin: auto;
}

#container {
    display: flex;
    flex-direction: column;
}

#header {
    height: 50px;
    padding: 20px 0px 20px 0px;
    border: 10px outset #80a939;
    background-color: #567521;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
}

#header > img {
    display: block;
    margin: auto;
}

.navigationBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
    background-color: #2b480f;
    border: 5px inset #5e962c;
    margin-left: 4px;
    margin-right: 4px;
}


.navButton {
    background-color: #2b480f;
    border: 0px;
    padding: 10px;
    border-left: 1px solid #5e962c;
    border-right: 1px solid #5e962c;
    margin-left: -1px;
    max-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial';
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

#content {
    background-color: #ffffe3;
    border: 1px solid #000000;
    margin-top: -1px;
    font-weight: bold;
    padding: 20px;
}

h2 {
    background-color: #efff74;
    border-left: 3px solid #24842a;
    padding: 10px 12px 10px 10px;
    margin-bottom: 0;
    display: inline-block;
}


#content > .textBlock {
    display: inline-block;
    width: 100%;
}


#drawbook-box {
    display: inline-block;
    margin-left: auto;
    margin-top: -11px;
}

#drawbook-frame {
    height: 660px;
    width: 660px;
}


a:hover+span {
    bottom: 0;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 20px;
    padding: 20px;
    border: 5px double white;
}

span > .highlight {
    background-color: white;
    color: #9a1919;
    padding: 3px;
}

a+span {
    background: #9a1919;
    color: white;
    text-align: center;
    padding: 0.25em;
    position: absolute;
    font-size: 0;
}






