:root {
    --secondary-color: #483D8B;
    --tertiary-color: #228B22;
}

body {
    font-family: 'MS UI Gothic';
    display: block;
    max-width: 100vw;
}

.container {
    display: flex;
    min-height: calc(100vh - 1.2rem);
}

.leftPage {
    padding: 20px;
    margin-right: 1em;
    border-left: double 5px black;
    border-right: double 5px black;

    width: 300px;

}

.rightPage {
    width: 100%;
}

.importantBox {
    background-color: white;
    border: solid 2px black;
    font-weight: bold;
    line-height: 0;
    white-space: nowrap;
}

.leftPageContainer {
    border: solid 1px black;
    background-color: white;
    flex-direction: column;
    padding: 5px;
}

.navButton {
    border: solid 1px black;
    background-color: white;
    padding-left: 2px;
    width: 100%;
    text-align: left;
    font-family: 'MS UI Gothic';
    font-weight: bold;
    font-size: 14px;
}

.navButton:hover {
    border: inset 3px rgb(226, 226, 226);
    outline: solid 1px black;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

#title {
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Verdana';
}

#splash {
    color: var(--tertiary-color);
    font-style: italic;
}